mode "wallpaper" {
        bindsym j exec --no-startup-id apod-bg -jump 1
        bindsym k exec --no-startup-id apod-bg -jump -1
        bindsym a exec --no-startup-id apod-bg -apod
        bindsym i exec --no-startup-id apod-bg -info
        bindsym r exec --no-startup-id apod-bg -random
        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+p mode "wallpaper"

#Startup call for apod-bg
exec apod-bg -login
