        <keybind key="A-C-j">
                <action name="Execute">
                        <command>apod-bg -jump 1</command>
                </action>
        </keybind>

        <keybind key="A-C-k">
                <action name="Execute">
                        <command>apod-bg -jump -1</command>
                </action>
        </keybind>

        <keybind key="A-C-S-j">
                <action name="Execute">
                        <command>apod-bg -jump 10/command>
                </action>
        </keybind>

        <keybind key="A-C-S-k">
                <action name="Execute">
                        <command>apod-bg -jump -10</command>
                </action>
        </keybind>

        <keybind key="A-C-i">
                <action name="Execute">
                        <command>apod-bg -info</command>
                </action>
        </keybind>

        <keybind key="A-C-r">
                <action name="Execute">
                        <command>apod-bg -random</command>
                </action>
        </keybind>

        <keybind key="A-C-m">
                <action name="Execute">
                        <command>apod-bg -mode</command>
                </action>
        </keybind>
